hg+https://hg.ximc.ru/eyepoint/epcore@Version0.1.1#egg=epcore
hg+https://hg.ximc.ru/eyepoint/ivviewer@aa83facfc4a4143fb79a126e3b6ba7702493a026#egg=ivviewer
git+https://github.com/EPC-MSU/board-view@Version0.1.0#egg=boardview
epsound==0.0.12
PyQt5<=5.15.0
